<h1>New check-in</h1>

<%= form_tag check_in_create_path do %>
  <%= label_tag :username, "username:" %>
  <%= text_field_tag :username %>

  <%= label_tag :dialect, "dialect:" %>
  <%= select_tag "dialect", options_for_select(dialect_select_options) %>

  <%= submit_tag "Check In" %>
<% end %>
